# INTRODUCTION - DATA MINING PIPELINE

### DEFINITION

* THE USE OF EFFICIENT TECHNIQUES FOR THE ANALYSIS OF LARGE COLLECTION OF DATA
* EXTRACTION OF USEFUL AND POSSIBLY UNEXPECTED PATTERNS IN DATA COLLECTED

* ANALYSIS OF OBSERVATIONAL DATA SETS TO FIND UNSUSPECTED RELATIONSHIPS AND TO SUMMARIZE THE DATA IN THE NOVEL WAY WHICH IS UNDERSTANDABLE AND USEFUL.
* MODELS OF DATA:
    * EXPLAIN THE DATA
    * PREDICT THE FUTURE DATA INSTANCE
    * SUMMARIZE THE DATA
    * EXTRACT THE MOST SIGNIFICANT FEATURES OF DATA

* SOME ANALYTICS APPROACH
  * DESCRITIVE STATISTICS: TELLS US WHAT HAPPENED IN THE PAST
  * DIAGNOSIC STATISTICS: UNDERSTAND WHY SOME EVENTS HAPPEN
  * PREDICTIVE STATISTICS: PREDICT WHICH EVENTS ARE MOST LIELY TO OCCUR IN THE FUTURE
  * PRESCRIPTIVE STATISTIC: RECOMMEND ACTIONS TO ACHIEVE PARTICULAR OUTCOMES

### WHY DATA MINING?

* EXTREMELY LARGE AMOUNT OF DATA AND CHEAP STORAGE ENABLE FOR MAINTAINING THESE DATA
* USED TO EXTRACT NEW KNOWLEDGE
* DATA IS POWER
* A WAY TO HARNESS COLLECTIVE INTELLIGENCE

### DATA COMPLEXITY

* MULTIPLE TYPE: TABLES, TIME SERIES, IMAGES, GRAPHS, RECORDS, VIDEOS,...
* SPACIAL (DIMENSION) AND TEMPORAL (TIME)
* INTERCONNECTED DATA (ex: a person: location, voice, height, check-in venues,...)

* Transaction data,Stock price and return data, Doument data, Network data, Geometric sequences (ex:gene, medical record), Environmental data, Behavioral data

### DATA DEFINITION

* COLLECTION OF DATA "OBJECTS" AND "ATTRIBUTES"
* ATTRIBUTE: PROTERTIES OR CHARACTERISTICS OF OBJECTS. A COLLECTION OF ATTRIBUTES DESCRIBE AN OBJECT
* OBJECT:    NUMBER, WORD, MEASUREMENT, OBSERVATION OR DESCRIPTION OF THING(S), CAN BE QUALITATIVE OR QUANTITATIVE (NUMERIC OR CATEGORICAL)

* SIZE:    NUMBER OF OBJECTS
* DIMENSIONALITY: NUMBER OF ATTRIBUTES
* SPARSITY: NUMBER OF POPULATED OBJECT-ATTRIBUTE PAIRS
* (Note: Sparsity and Density, If data is meaningful / useful / not random, you will have regions where data points come together and cluster, and you will have areas they avoid coming together.Data Scientists will look for ways to maximize sparsity so that they can get good clusters or well defined answers to their questions.)

In [4]:
# There are several ways of calling:
from tabulate import tabulate
l = [["VARIABLE", "RECORD"],["FIELD", "POINT/CASE"],["CHARACTERSITIC", "SAMPLE"] ,["FEATURE", "ENTITY/INSTANCE"]]
table = tabulate(l, headers=['ATTRIBUTE', 'OBJECT'], tablefmt='orgtbl')
print(table)

| ATTRIBUTE      | OBJECT          |
|----------------+-----------------|
| VARIABLE       | RECORD          |
| FIELD          | POINT/CASE      |
| CHARACTERSITIC | SAMPLE          |
| FEATURE        | ENTITY/INSTANCE |

### ATTRIBUTES TYPES

* CATEGORICAL DATA (QUALITATIVE)
  * NOMINAL DATA: No order or comparison, multually exclusive (ex: make/female)
  * ORDINAL DATA: order but not comparable,multually exclusive(ex: student's ID)

*NUMERIC DATA (QUANTITATIVE)
  * DISCRETE DATA: numerical values, finite or countably infinite (ex: number of student)                                                             
  * CONTINUOUS DATA: Real value numbers, can take any value within a range (ex: Temperature)

In [7]:
import numpy as np
import pandas as pd
data= pd.read_csv("C:/Users/Win 10/Downloads/cp-reg-eth-dis-datafile-csv.csv")
data.head(5)

,MsCode,DemCode,EstCode,Year,Estimate,SE,LowerCIB,UpperCIB,Flag
0,MEASA,ETHG01,A_Proportion,2019,9.8,1,8.7,10.8,3.0
1,MEASA,ETHG01,B_Number,2019,71.3,8.2,63.2,79.5,2.0
2,MEASA,ETHG01,C_Population,2019,731.3,19.6,711.7,751,4.0
3,MEASA,ETHG01,D_Proportion_diff,2019,,,,,7.0
4,MEASA,ETHG01,E_Number_diff,2019,,,,,1.0

In [8]:
# NOMINAL DATA: EstCode
# ORDINAL DATA: MsCode, DemCode
# DISCRETE DATA: Flag
# CONTINUOUS DATA: Estimate, SE, LowerCIB, UpperCIB

### NUMERIC RECORD DATA

* DATA HAVE THE SAME FIXED SET OF NUMERIC VARIABLES
* WE CAN CONSIDER EACH INSTANCE AS A POINT IN D-DIMENSIONAL SPACE (D: NUMBER OF ATTRIBUTES)

In [10]:
data_numeric=pd.read_csv("C:/Users/Win 10/Documents/TABLE.csv")
data_numeric.head(10)

   Unnamed: 0    C1    C2    C3    C4    C5    C6    C7    C8     C9   C10
0           1  22.5  72.0   7.0  46.5  72.0   3.0  10.5  27.5   86.5  58.0
1           2   3.0  48.0  51.5   5.0  36.0  11.5  55.5  93.5   22.0  11.5
2           3  95.0  34.5   4.5  31.0  26.0  45.0  33.5  47.5   15.0   4.0
3           4  57.5  92.5  34.0  82.0  86.0  75.5  20.5   2.0   44.5  14.0
4           5  83.0  49.0  33.0  86.0  93.0  98.0  65.0  87.0   16.5  95.0
5           6   2.0  67.5  22.0  50.5  22.5   7.0  29.0  22.5  100.0  86.5
6           7  50.0  91.5  92.5  14.0  54.0   3.5  66.5  21.0   14.0   9.5
7           8  63.5  17.0  14.0  95.5  28.5  99.0  58.0  77.0   20.5  59.0
8           9  51.5  77.0  29.0  47.0  48.0  68.0  93.0  16.0   97.5  76.0
9          10  75.0  91.0   4.5  10.5  39.0  82.5  12.0  57.5   74.5  11.0

### CATEGORICAL DATA

* EACH RECORD CONTAINS FIXED SET OF CATEGORICAL ATTRIBUTES

In [11]:
data_categorical=pd.read_csv("C:/Users/Win 10/Documents/TABLE_2.csv")
data_categorical.head(5)

   Unnamed: 0   V1      V2     V3
0           1   No    poor  Hoang
1           2   No  medium  Phung
2           3  Yes    rich  Giang
3           4  Yes    poor  Hoang
4           5  Yes    poor  Phung

### DOCUMENT DATA

* EACH DOCUMENT IS A "TERM" VECTOR, EACH ATTRIBUTE IS A TERM EXISTING IN DOCUMENTS

### TRANSACTION (SET) DATA
* EACH TRANSACTION (INSTANCE) CONTAINS A SET OF ITEMS (EACH ITEM CAN BE REPRESENTED AS BINARY DATA)

In [12]:
data_transaction= pd.read_csv("C:/Users/Win 10/Downloads/supermarket_sales - Sheet1.csv")
data_transaction.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

### ORDERED DATA
* DATA IS AN ORDERED STRING OR NUMERICAL VALUES (Ex: gene code, time series)

In [13]:
data_gene= pd.read_csv("C:/Users/Win 10/Downloads/Homo_sapiens.GRCh38.92.csv")
data_gene.head(5)

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,seqname,source,feature,start,end,score,strand,frame,CCDS,basic,...,mRNA_start_NF,protein_id,protein_version,seleno,transcript_biotype,transcript_id,transcript_name,transcript_source,transcript_support_level,transcript_version
0,1,havana,gene,11869,14409,.,+,.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,havana,transcript,11869,14409,.,+,.,NaN,1.0,...,NaN,NaN,NaN,NaN,processed_transcript,ENST00000456328,DDX11L1-202,havana,1,2.0
2,1,havana,exon,11869,12227,.,+,.,NaN,1.0,...,NaN,NaN,NaN,NaN,processed_transcript,ENST00000456328,DDX11L1-202,havana,1,2.0
3,1,havana,exon,12613,12721,.,+,.,NaN,1.0,...,NaN,NaN,NaN,NaN,processed_transcript,ENST00000456328,DDX11L1-202,havana,1,2.0
4,1,havana,exon,13221,14409,.,+,.,NaN,1.0,...,NaN,NaN,NaN,NaN,processed_transcript,ENST00000456328,DDX11L1-202,havana,1,2.0

### FREQUENT ITEMSETS AND ASSOCIATION RULES

* SET OF RECORDS CONTAINING NUMBER OF ITEMS
* TASK: 
    * INDENTIFY SETS OF ITEMS FREQUENTLY OCCURING TOGETHER
    * DEPENDENCY RULES (PREDICTIVE ANALYSICS)

### CLUSTERING

* SET OF RECORDS CONTAINING ATTRIBUTES AND SIMILARITY MEASURE AMONG THEM
* TASK: 
    * FIND CLUSTERS AMONGST OBJECTS SUCH THAT
        * DATA POINTS IN SAME CLUSTER ARE MORE SIMILAR TO EACH OTHER
        * DATA POINTS IN SEPARATED CLUSTER ARE LESS SIMILAR TO EACH OTHER
* SIMILARITY MEASURE: (FOR QUANTITATIVE VARIABLES) EUCLIDEAN DISTANCE

### CLASSIFICATION

* GIVEN A COLLECTION OF RECORDS, EACH OF THEM HAS MULTIPLE ATTRIBUTES (AT LEAST 1 OF ATTRIBUTES IS CLASS ATTRIBUTE)
* DIVIDE THE DATA INTO THE TRAINING SET AND TEST SET
* TASK:
    * USE THE TRAINING SET TO BUILD A MODEL TO FIND VALUE OF "CLASS" BASED ON OTHER ATTRIBUTES
    * USE THE TEST SET TO DETERMINE THE ACCURACY OF MODEL

### EXPLORATORY ANALYSIS

* TRY TO UNDERSTAND THE DATA AS A PHYSICAL PHENOMENON, CLEARLY DESCRIBE THEM IN SIMPLE METRICS
* TASK:
    * ASK RIGHT QUESTION AND THOROUGHLY UNDERSTAND THAT QUESTION
    * CHOOSE THE RIGHT METRIC TO DESCRIBE, ANSWER QUESTION OR EVEN, BUILD A MODEL

### CONNECTION OF DATA MINING WITH OTHER FIELD

* DATA MINING IS COMBINATION OF MANY AREA OF SPECIALIZATION
    * DATABASE SYSTEM: LARGE-SCALE DATA
    * AI (ML): COMPLEX METHOD+ ALGORITHM, SMALL DATA, PATTERN RECOGNITION
    * STATISTICS: MODELS, VISUALIZATION

### MAP-REDUCE PARADIGM

* MAP THE DATA INTO KEY-VALUE PAIRS
* GROUP BY KEY
* REDUCE DATA BY AGGREGATION

---

### DATA ANALYSIS PIPELINE

1. DATA PRE-PROCESSING
2. DATA MINING
3. RESULT POST-PROCESSING

### DATA QUALITY
* NOISES + OUTLIERS
* MISSING VALUES
* DUPLICATED DATA

### SAMPLING

* KEY PRINCIPLE: SAMPLE IS REPRESENTATIVE OF ENTIRE POPULATION -> NEARLY SAME PROPERTIES OF ENTIRE DATASET

* TYPES OF SAMPLING:
   * SIMPLE RANDOM SAMPLING: RANDOMLY SELECT PARTICULAR ITEM (SAME PROBA)
   * SAMPLING WITHOUT REPLACEMENT: OBJECT IS REMOVED AFTER CHOOSED
   * SAMPLING WITH REPLACEMENT: NOT REMOVED
   * STRATIFIED SAMPLING: SPLIT THE DATASET INTO SEVERAL PARTITIONS (MAY BE DEPEND ON SPECIFIC CHARACTERISTIC OF ITEMS), THEN DRAW SAMPLE FROM EACH PARTITION.

### SUMMARY STATISTIC OF DATA

![Random Unsplash Image](https://www.makemyassignments.com/blog/wp-content/uploads/2019/05/Types-of-Descriptive-Statistics.jpg)

* FREQUENCY DISTRIBUTION

The distribution of the dataset is measured using frequency distribution and is presented in graphical form using a bar chart or a histogram.

* MEASURE OF CENTRAL TENDENCY (MEASURE OF LOCATION)

The measures of central tendency are used to show the centre of the data set. The central tendency is estimated using the mean, median and mode.

Mean is the average of all the data.
Median is the middle of the entire data set. Usually, the data is sorted in ascending order and the middle value is considered as the mean. You can use the data analysis option in Microsoft Excel too to determine the median.
Mode indicates the most commonly occurring value in the data set.

* MEASURE OF SPREAD 

The objective of measure of dispersion or variation is to identify the extent to which the entire data set is spread from the central tendency – specifically mean.

The commonly used estimates are range, standard deviation, and variance.

The range is the difference between the maximum and minimum number in the data set.

The variance is the square of Standard Deviation. It helps to find the spread of the data. It is different from Standard Deviation which indicates the concentration of data around the mean and uses the same units.

### TEXT MINING STEPS

* LOWER CASTING: Converting the text data into lowercase format.
* REMOVAL OF PUNCTUATION: Removing a list of punctuations from the text data.
* REMOVAL OF STOPWORD: Removing a list of stopwords or commonly occuring words from the text data.
* REMOVAL OF FREQUENT WORDS: Removing a list of frequent words in the given corpus from the text data.
* STEMMING: Reducing inflected (or sometimes derived) words to their word stem from the text data. For example, stemming two works of does and doing to the suffix of do.
* LEMMATIZATION: Reducing inflected words to their word stem from the text data but still saving the root word (also called as lemma) belonging to the language.
* REMOVAL OF URLs: Removing any URLs present in the text data.
* REMOVAL OF HTML TAGS: Removing any HTML tags present in the text data.
* SPELLING CORRECTION: Correcting spelling mistakes in the text data.

* DIFFERENCE BETWEEN STEMMING AND LEMMATIZATION:
    
STEM: Stemming words is common NLP technique to reduce topically similar words to their root. For example, “stemming,” “stemmer,” “stemmed,” all have similar meanings; stemming reduces those terms to “stem.”

LEMMATIZATION: n many languages, words appear in several inflected forms. For example, in English, the verb ‘to walk’ may appear as ‘walk’, ‘walked’, ‘walks’, ‘walking’. The base form, ‘walk’, that one might look up in a dictionary, is called the lemma for the word. 

Lemmatisation is closely related to stemming. The difference is that a stemmer operates on a single word without knowledge of the context, and therefore cannot discriminate between words which have different meanings depending on part of speech.

### FORMULAS FOR TEXT MINING (DF-TF-IDF)

#### DF (DOCUMENT FREQUENCY): FRACTION OF DOCUMENTS CONTAINING THE WORDS W

    DF(W)= D(W)/D
    
    D(W): NUMBER OF DOCUMENTS CONTAINING THE WORD W
    D: TOTAL NUMBER OF DOCUMENTS

#### IDF (INVERSE DOCUMENT FREQUENCY): MEASURE OF UNIQUENESS OF THE WORD W
    
    IDF(W)=LOG(1/DF(W))
    
    THE HIGHER THE VALUE OF IDF, THE MORE UNIQUE THE WORD TO 1 SPECIFIC DOCUMENT

#### TF (TERM FREQUENCY): THE FREQUENCY OF THE WORD W IN THE DOCUMENT D
  
    TF(W,D)= NUMBER OF TIMES THE WORD W APPEAR IN THE DOCUMENT D

#### TF-IDF(W,D): MEASURE OF THE IMPORTANCE AND UNIQUENESS OF THE WORD W TO THE DOCUMENT D
  
    TF-IDF(W,D)=TF(W,D)*IDF(W)